/* body{
    height: 251px;
    width: 268px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
div{
    height: 30px;
    width: 30px;
    border: 1px solid black;
}
.white{
    background-color: grey;
}
.black{
    background-color: brown;
}
.hidden{
    display: none;
} */


/* part2 */
/* #gameboard{
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}
.square{
    height: 40px;
    width: 40px;
}
.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}
path{
    position: relative;
    z-index: -10;
}
.peice{
    position: relative;
    z-index: 9;
}
.beige{
    background-color: rgb(247, 247, 213);
}
.black{
    fill: rgb(66, 13, 45);
}
.white{
    fill:grey;
}
.brown{
    background-color: brown;
} */

/* part3 */

section.chessBoard{
    border: 2px solid black;
    height: 272px;
    width: 272px;
    display: flex;
    flex-wrap: wrap;
}
.squares{
    border: 2px solid black;
    height: 30px;
    width: 30px;
}
.black{
    background-color:rgb(138, 237, 98);
}
.white{
    background-color: rgb(223, 239, 174);
}

/* took from youtube need to understand start... */

.peice{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
}
.squares svg{
    height: 30px;
    width: 10px;
    margin: 5px;
    position: relative;
    z-index: -9;
}
path{
    position: relative;
    z-index: -10;
}

/* end... */

.blackSide svg{
    fill: rgb(8, 1, 27);
}
.whiteSide svg{
    fill: rgb(179, 1, 244);
}
.outerBox{
    margin-top: 10px;
    height: 139px;
    width: 272px;
    border: 2px solid black;
    display: flex;
    flex-wrap:wrap;
}
.outerSquare{
    height: 30px;
    width: 30px;
    border: 2px solid black;
}
